
.login-container {
  background: url('../../../../public/library.jpeg') no-repeat center center;
  background-size: cover;
}

.login-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: white;
  width: 350px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}


.login-card .form-control {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.login-card .form-control:focus {
  box-shadow: 0 0 5px #4f46e5;
}


.login-card .btn-primary {
  background: #4f46e5;
  border: none;
}

.login-card .btn-primary:hover {
  background: #4338ca;
}
