.nav-link.active {
  background-color: #0d6efd;
  border-radius: 5px;
}

.bg-dark{
  width: 250px;
}

.nav-item:hover{
  background-color: blue;
}

.banner {
  position: fixed;
  top: 0;
}

.child{
  margin-left: 20%;
}

